/* cart items design starts here */
.cart {
  padding: var(--padding);
  gap: 1rem;
}
.cart .card {
  margin-bottom: 1rem;
}

.cart_items {
  flex: 1;
}
.cart_items-action {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_item input {
  flex: 0.1;
}

.cart_item-img {
  flex: 0.2;
  width: 15rem;
  height: 10rem;
}

.cart_item-description {
  flex: 0.4;
}
.cart_item-shipping {
  display: inline-block;
  margin-top: 0.5rem;
  background-color: black;
  color: red;
  padding: 0.2rem 0.5rem; /* Adjust padding as needed */
}

.cart_item-actions {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cart_payment {
  flex: 1;
}

/* cart items design ends here */

/* cart payment design starts here */

.cart_payment-summary > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.cart_payment-btn {
  width: 100%;
}

.cart_payment-methods > h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.cart_payment-methods > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* cart payment design ends here */

@media (max-width: 992px) {
  .cart_items,
  .cart_payment {
    width: 90%;
  }
}
