.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.section-title {
  font-size: 2rem;
  color: #4b0082;
}

.profile .card {
  padding: var(--padding);
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile_img {
  width: 30vh;
  height: 200px;
  border-radius: 50%;
  border: 1px solid;
}

.profile_buttons button {
  background-color: transparent;
}
